enabled: true

replicaCount: 1

image:
  repository: kibana
  tag: "8.11.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5601

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 512Mi

elasticsearch:
  hosts: "http://bank-app-elasticsearch-service:9200"

env:
  - name: ELASTICSEARCH_HOSTS
    value: "http://bank-app-elasticsearch-service:9200"
  - name: ELASTICSEARCH_URL
    value: "http://bank-app-elasticsearch-service:9200"
