enabled: true

replicaCount: 1

image:
  repository: elasticsearch
  tag: "8.11.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9200
  transportPort: 9300

resources:
  limits:
    cpu: 1000m
    memory: 2Gi
  requests:
    cpu: 500m
    memory: 1Gi

persistence:
  enabled: true
  size: 5Gi
  storageClass: ""

env:
  - name: discovery.type
    value: "single-node"
  - name: ES_JAVA_OPTS
    value: "-Xmx512m -Xms512m"
  - name: xpack.security.enabled
    value: "false"
  - name: xpack.security.enrollment.enabled
    value: "false"
